@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Readex Pro', sans-serif;
    box-sizing: border-box;
    color: #FFF;
}

header{
    background-color: #383845;
    display: block;
}

body{
    background-color: #12122B;
}
