@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Readex Pro', sans-serif;
    box-sizing: border-box;
    color: #FFF;
}

header{
    background-color: #383845;
    display: block;
}

body{
    background-color: #12122B;
}

.btn-cadastro{
    background-color: #AAAA91;
    margin-bottom: 8px;
}

@media(min-width: 680px){
    .div-saldo{
        display: flex;
    }
    .div-saldo img{
        width: 60px;
    }
    .div-saldo div{
        display: flex;
        align-items: center;
    }
    .avatar{
        width: 15%;
    }
    .text-name{
        font-size: 22px;
    }
}
