.margin-top-g{
    margin-top: 15vh;
}

.form-login{
    font-weight: bold;
    background-color: #D8DEC3;
    color: #000;
}

.form-login:focus{
    font-weight: bold;
    background-color: #D8DEC3;
    color: #000;
}

.btn-bg{
    background-color: #AAAA91;
}

.btn-bg:hover{
    background-color: #5E5E5E;
}

.form-number::-webkit-outer-spin-button,
::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

@media(min-width:768px){
    .form-center-desk{
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .form-width,
    .login-password-create{
        width: 100%;
        max-width: 500px;
    }
}